<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzm.aicode.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.xzm.aicode.model.entity.user">
            <id property="id" column="id" />
            <result property="useraccount" column="userAccount" />
            <result property="userpassword" column="userPassword" />
            <result property="username" column="userName" />
            <result property="useravatar" column="userAvatar" />
            <result property="userprofile" column="userProfile" />
            <result property="userrole" column="userRole" />
            <result property="edittime" column="editTime" />
            <result property="createtime" column="createTime" />
            <result property="updatetime" column="updateTime" />
            <result property="isdelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userAccount,userPassword,userName,userAvatar,userProfile,
        userRole,editTime,createTime,updateTime,isDelete
    </sql>
</mapper>
